# Ignore actual configuration files
prometheus.yml
alertmanager.yml

# Keep template files
!prometheus.yml.template
!alertmanager.yml.template

# Prometheus data
data/*

# Prometheus binary
prometheus.exe
alertmanager.exe
